Resources:
  AWSEBV2LoadBalancerListener443:
    Type: AWS::ElasticLoadBalancingV2::Listener
    Properties:
      DefaultActions:
        - Type: authenticate-oidc
          Order: 1
          AuthenticateOidcConfig:
            Issuer: https://idp.federate.amazon.com
            AuthorizationEndpoint: https://idp.federate.amazon.com/api/oauth2/v1/authorize
            TokenEndpoint: https://idp.federate.amazon.com/api/oauth2/v2/token
            UserInfoEndpoint: https://idp.federate.amazon.com/api/oauth2/v1/userinfo
            ClientId: egovframe-simple-backend-alb
            ClientSecret: '{{resolve:ssm-secure:/egovframe/backend/federate/client-secret:1}}'
            Scope: openid
            SessionCookieName: AWSELBAuthSessionCookie
            SessionTimeout: 28800
            OnUnauthenticatedRequest: authenticate
        - Type: forward
          Order: 2
          TargetGroupArn:
            Ref: AWSEBV2LoadBalancerTargetGroup